@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100&display=swap");
@font-face {
    font-family: "iCiel-Koni";
    src: url("./assets/fonts/iCielKoniBlack.otf") format("truetype");
}
* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
.text-color {
    color: #fa7d09 !important;
}
.font-koni {
    font-family: "iCiel-Koni";
}
.bg {
    background: radial-gradient(
        97.91% 60.14% at 50% 50%,
        #ffdb7e 0%,
        #ff7a00 100%
    );
}
.ant-input,
.ant-textarea,
.ant-select-selector,
.ant-picker {
    border-radius: 9px;
    background: #fff;
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 0.5) inset;
    color: Gray;
    font-weight: 500;
}
.ant-input:focus,
.ant-textarea:focus,
.ant-select-selector:focus,
.ant-picker:focus {
    background: #fff;
    box-shadow: -1px 3px 3px 0px rgba(178, 91, 11, 1) inset;
    border: none;
}

.ant-input {
    padding: 7px;
}
.bg_img {
    background-image: url("./assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner {
    background-image: url("./assets/images/menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-color {
    background: #ff000a;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1),
        inset 0px 0px 0px 10px
            linear-gradient(
                269.85deg,
                #93000a 31.99%,
                rgba(210, 51, 51, 0) 113.43%
            );
    transition: all 0.3s ease;
}
.menu-item {
    position: relative;
    display: inline-block;
    padding: 4px 8px; /* Tùy chỉnh padding cho các item trong menu */
    border: 2px solid transparent; /* Border ban đầu là một border trong suốt */
    border-radius: 33px; /* Đường cong border */
    transition: border-color 0.3s ease; /* Hiệu ứng thay đổi border */
    cursor: pointer;
}

.menu-item:hover {
    border-color: white; /* Hiệu ứng khi hover vào menu item */
}

.menu-item.selected {
    border-color: white; /* Border mặc định cho menu item đã chọn */
}

/* Ẩn .menu-item.selected khi hover vào một menu item khác */
.menu-item:hover:not(.selected) {
    border-color: transparent;
}
/* Event Detail */
.table {
    background-image: url("./assets/images/events/table.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* Home */
.middleTable {
    background-image: url("./assets/images/middle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-btn {
    background-image: url("./assets/images/home/bg-btn.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10 20;
}
.ant-select-item.ant-select-item-option:hover {
    background-color: #fff6d4 !important;
    color: #ff7506 !important;
}
.ant-select-item.ant-select-item-option.ant-select-item-option-active,
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    background-color: #fff6d4 !important;
    color: #ff7506 !important;
}
.table-outside {
    border-radius: 20px;
    background-color: #fde8b3;
    border-bottom: 10px solid #ffca7b;
    padding: 5px;
}
.table-inside {
    border: 3px dashed #ffb489;
    border-radius: 20px;
    background-color: #fff6d4;
    padding: 10px 10px 10px 10px;
}
/* Pay */
.ant-modal-content {
    border-radius: 30px !important;
    width: 400px !important;
    height: 180px !important;
}
.ant-notification-notice-close-x svg {
    color: #ff8a00 !important;
}
